@tailwind base;
@tailwind components;
@tailwind utilities;

.font-curvy{
    font-family: 'vollkorn', Georgia, 'Times New Roman', Times, serif;
}
.font-straight{
    font-family: 'karla', Arial, Helvetica, sans-serif;
}
.opensans{
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
}
.highlight{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, #c6f6d5 40%);
}
address {
    font-style: normal
}
#burger-wrapper.true{
    @apply text-white;
}
#burger-wrapper.false{
    @apply text-gray-900;
}
#SideMenu{
    transform: translateX(100%);
    transition: transform .5s;

}
#SideMenu.true{
    transform: translateX(0%);
    transition: transform .5s

}
.Directory {
    overflow: hidden;
}
.Directory__column-title{
    border-bottom: 4px solid #1a202c; 
}
.DirectoryTree {
    height: 500px;
    overflow: scroll;
}
.DirectoryCta {
    display: block;
    position: relative;
}
.DirectoryCta a.city {
    min-height: 64px;
    height: 100%;
}
.DirectoryCta.inactive{
    margin-bottom: -4px;
    border-top: 4px solid #1a202c4D; 
    border-bottom: 4px solid transparent;
}
.DirectoryCta.inactive h3,
.DirectoryCta.DirectoryCta.inactive div {
    color: #1a202c4D;
}
.DirectoryCta.active + a.inactive{
    border-top: 4px solid #121722;
}
.DirectoryCta:last-of-type{
    border-bottom: 4px solid #1a202c4D; 
}
.DirectoryCta.active{
    margin-bottom: -4px;
    border-top: 4px solid #1a202c; 
    border-bottom: 4px solid #1a202c;
}
.DirectoryCta.active h3,
.DirectoryCta.active div {
    color: #1a202c; 
}
.DirectoryTree li:first-child {
    border-top: none !important; 
}
.DirectoryCta img {
    position: absolute;
    top: 50%; right: 15px;
    transform: translate(0, -50%);
    @apply w-2;
}
.DirectoryCta.inactive img,
.DirectoryCta.inactive .listing-icon {
    opacity: .4;
}
.listing-icon{
    @apply border-gray-900;
    display: inline-block;
    border-width: 2px;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    margin: 0 0.5rem;
}
.listing-icon.smb{
    background-color: #fcf8b7;
}
.listing-icon.np{
    background-color: #f5abb2;
}
.Accordion.smb{
    background-color: #fff5a7;
}
.Accordion.np{
    background-color: #f9bbc0;
}
.accordion-panel{
    max-height: 0px;
    overflow: hidden;
}
.accordion-panel.open{
    @apply border-b-4;
    @apply border-gray-900;
    max-height: 100%;
}
.arrow-right{
    @apply border-gray-900;
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    
    border-left: 10px solid;
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    
    border-top: 10px solid;
}
.container--16-9 {
    padding: 56.25% 0 0 0;
    position: relative;
}
.container--4-3 {
    padding: 75% 0 0 0;
    position: relative;
}
.ListingPage .video,
.ListingPage .map {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}
.ListingPage .placeholder {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-77.5px, -77.5px);
    width: auto;
    max-height: 100%;
}
.ListingPage .right-col {
    margin-top: 1.5rem;
}
.ListingPage .tag-list li:after {
    content: ",";
    margin-right: 4px;
}
.ListingPage .tag-list li:last-of-type:after {
    content: ""
}
.Carousel .circle {
    @apply bg-gray-400;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0px 10px;
    transition: 400ms ease;
}
.Carousel .circle.active {
    @apply bg-green-500;
    width: 12px;
    height: 12px;
}
.Carousel .slide-container {
    transition: transform 400ms ease;
}

@media screen and (min-width: 1024px) {
    .ListingPage .left-col {
        flex-basis: 66.66%;
        margin-right: 10px;
    }
    .ListingPage .right-col {
        flex-basis: 33.33%;
        margin-left: 10px;
        margin-top: 0px;
    }
}

@import url('./markdown.scss');

