@tailwind base;
@tailwind components;
@tailwind utilities;

.font-curvy{
    font-family: 'vollkorn', Georgia, 'Times New Roman', Times, serif;
}
.font-straight{
    font-family: 'karla', Arial, Helvetica, sans-serif;
}
.opensans{
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
}
.highlight{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, #c6f6d5 40%);
}
#burger-wrapper.true{
    @apply text-white;
}
#burger-wrapper.false{
    @apply text-gray-900;
}
#SideMenu{
    transform: translateX(100%);
    transition: transform .5s;

}
#SideMenu.true{
    transform: translateX(0%);
    transition: transform .5s

}
.TreeView a.inactive{
    margin-bottom: -4px;
    color: #1a202c4D; 
    border-top: 4px solid #1a202c4D; 
    border-bottom: 4px solid transparent
}
.TreeView a.active + a.inactive{
    border-top: 4px solid #1a202c;
}
.TreeView a:last-of-type{
    border-bottom: 4px solid #1a202c4D; 
}
.TreeView a.active{
    margin-bottom: -4px;
    color: #1a202c; 
    border-top: 4px solid #1a202c; 
    border-bottom: 4px solid #1a202c;
}

@import url('./markdown.scss');

